* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
}

.game {
    width: 854px;
    height: 480px;
}